*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

#container{
    width: fit-content;
    padding-top: 200px;
}

.div_properties{
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 20px;
}

.filler_div{
    width: 10px;
    height: 10px;
    float: left;
}

#linear_gradient{
    background-image: linear-gradient(orange, white, green);
}

#radial_gradient{
    background-image: radial-gradient(orange, white, green);
}

#conic_gradient{
    background-image: conic-gradient(violet, indigo, blue, green, orange, red);
}