*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 20px;
}

#blocks_container{
    width: fit-content;
    margin: 5px auto;
    display: grid;
    gap: 10px;
}

.rows{
display: flex;
gap: 10px;
}

.blocks{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: rgb(222, 10, 234);
    margin-left: 5px;
    border-radius: 20px;
    padding-top: 50px;
    cursor: pointer;
    transition: all 5s;
    
}

/* rotate() function*/
#rotateX_block:hover{
    transform: rotateX(360deg);
}

#rotateY_block:hover{
    transform: rotateY(360deg);
}

#rotateZ_block:hover{
    transform: rotateZ(360deg);
}


/*skew() function*/

#skewX_block:hover{
    transform: skewX(360deg);
}

#skewY_block:hover{
    transform: skewY(360deg);
}

#skewZ_block:hover{
    transform: skew(180deg, 180deg);
}


/* scale() function*/

#scaleX_block:hover{
    transform: scaleX(1.5);
}

#scaleY_block:hover{
    transform: scaleY(2);
}

#scaleZ_block:hover{
    transform: scale(2, 2);
}


/* translate() function*/

#translateX_block:hover{
    transform: translate(20px);
}