*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: ProductSans;
    src: url(/assets/fonts/ProductSansRegular.ttf);
}
body{
    padding: 20px;
    font-family: ProductSans;
}

#heading_container{
    width: fit-content;
    margin: 200px auto;   
    
}

.rainbow_heading{
    font-weight: bolder;
    font-size: 100px;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    background-size: 100%;
    transition: all 5s;
    cursor: pointer;
}

/* fake behavoir of element. */
.rainbow_heading:hover{
    background-size: 200%;
    font-size: 150px;
}