/*
selector{
    css-property: css-property-value;
    css-property: css-property-value;

}
*/

/* universal selector*/

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*id selector */

#blood_group_table{
 /*border: 2px solid black;*/
}

#blood_group_table_caption{
    font-size: 60px;
    font-weight: bold;
    border-radius: 15px;
}

#blood_group_table_head{
    font-size: 40px;
    border-radius: 30px;
}

#blood_group_table_caption, #blood_group_table_head{
    color: white;
    background-color: grey;
}

.blood_group_table_head_cell{
    border-radius: 15px;
}

#blood_group_table_body{
    text-align: center;
    font-size: 30px;
}

.blood_group_table_body_cell{
    border-radius: 15px;
}

/* multiple selector */
.pink_color{
    background-color: lightgray;
}

.light_grey_color {
    background-color: lightpink;
}