*{
    padding: 0px;
}

#d{
    width: 100px;
    background-color: red;
    height: 100px;
    position: absolute;
    left: 10px;
    border-radius: 0%;
    animation-name: a;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes a {
    
    from{
        border-radius: 0%;
        background-color: red;
        left: 10px;
    }
    to{
        border-radius: 50%;
        background-color: green;
        left: 500px;
    }
}