*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('/assets/images/galaxy.jpg');
    background-size: cover;
}

marquee{
    height: 690px;
}

.flt_l{
    float: left;
}

.flt_r{
    float: right;
}

#container{
    float: left;
    width: fit-content;
}

#moon{
    width: 100px;
}

#earth{
    width: 300px;
}
#rocket{
    height: 300px;    
}

