*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 5000px;
    background-image:  url(/assets/images/earth.png), url('/assets/images/galaxy.jpg');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, scroll;
    background-position: 324px;
}

marquee{
    height: 310px;
    float: left;
}
#moon{
    width: 100px;
}

#earth{
    width: 300px;
}
#rocket{
    height: 300px;    
}

