*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color: rgb(218 199 255);
}

#container{
    margin-top: 150px;
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
}