@font-face{
    font-family: product sans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}

/*universal selector*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: product sans;
}

body{
    margin: 10px;
}

#heading_area{
    background-color: #0f59d5;
    height: 118px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

#bio_data_form_heading{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

#bio_data_form_heading_p{
    color: white;
    font-size: 20px;
}

#container{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#main_container{
    width: 75%;
    height: 100px;
    float: left;
}

.filler_div{
    width: 2%;
    height: 5px;
    float: left;
}

/*main container style*/
article{
    padding: 20px;
    border: 1px solid #0f58d53a;
    border-radius: 10px;
}
.section_heading{
    line-height: 40px;
    text-align: left;
    color: #0f59d5;
}

.heading_line{
    border: 1px solid #0f58d53a;
}

/* aside container style */

#aisde_container{
    width: 23%;
    height: 100px;
    float: right;
    text-align: left;
}
.aisde_container_inner_div{
    width: 100%;
    padding: 10px;
}

.aside_heading{
    margin-bottom: 15px;
}

li{
    line-height: 30px;
    text-align: left;
    list-style-type: none;
}

#first_div{
    background-color: rgba(0, 128, 0, 0.053);
    border: 2px solid rgba(0, 128, 0, 0.053);
    border-radius: 10px;
}

#first_div_heading{
    color: rgb(0, 128, 0);
}

#second_div{
    background-color: #2a8ef90f;
    border: 2px solid #2a8ef915;
    border-radius: 10px;
}

#second_div_heading{
    color: #2a8ef9;
}

.second_div_list_item_marker{
    color: #2a8ef9;
}

#third_div{
    background-color: rgba(255, 166, 0, 0.071);
    border: 2px solid rgba(255, 166, 0, 0.071);
    border-radius: 10px;
}

#third_div_heading{
    color: orange;
}

#fourth_div{
    background-color: rgba(128, 0, 128, 0.094);
    border: 2px solid rgba(128, 0, 128, 0.094);
    border-radius: 10px;
}

pre{
    color: #ffa500;
}

#fourth_div_heading{
    color: #800080;
}

.fourth_div_list_item_market{
    color: #800080;
}

