*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../../../../assets/images/NightMoon.png), url(../../../../assets/images/night.png);
    background-size: 10%, cover;
    background-repeat: no-repeat;
    background-position: 40% 20%;
    background-attachment: fixed , scroll;
    height: 870px;
}

#filler{
     width: 100%;
     height: 400px;
     background-image: url(../../../../assets/images/satellite.png);
     background-size: 10%;
     background-repeat: no-repeat;
     background-position: 0% 30%;
}
#mountain_container{
    width: 100%;
    height: 500px;
    background-image: url(../../../../assets/images/NightMountain.png);
    background-size: cover;
    float: left;
}