*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

.Div_Property{
    text-align: center;
    height: 300px;
    width: 300px;
    float: left;
    padding-top: 116px;
}

#colorName{
    background-color: red;
}

#rgbColor{
    background-color: rgb(0, 128, 128);
}

#rgbaColor{
    background-color: rgba(0, 128, 128, 0.7);
}
#hslColor{
    background-color: hsl(90, 50%, 50%);
}

#hexColor{
    background-color: #00ffff;
}

#hexAlphaColor{
    background-color: #00ffffa1;
}