*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 30px;
}

.inline_div{
    padding: 20px;
    background-color: green;
    color: white;
    display: inline;
}

.div_container{
    width: 200px;
    height: 200px;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: navy;
    display: inline-block;
}

.span_container{
    font-size: 32px;
    padding: 10px;
    background-color: gray;
    margin-bottom: 5px;
    display: block;
}